* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.container h1{
  font-size: 70px;
  font-weight: 500;
}